LeadConversionFlowPackage/force-app/main/default/flows/OpportunityPriceBook.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Price_Book</name>
        <label>Set Price Book</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePriceBook</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>OpportunityPriceBook {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityPriceBook</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Standard_Price_Book</name>
        <label>Get Standard Price Book</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s8b000005YwlfAAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePriceBook</name>
        <label>UpdatePriceBook</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Standard_Price_Book</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
